<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task / {{title}}</title>
</head>
<body>
    {{>header}}
    Add new cars here

    <form action="/cars" method="POST">
        <input type="text" name="regNo" placeholder="regno" required>
        <input type="text" name="make" placeholder="make" required>
        <input type="text" name="model" placeholder="model" required>
        <input type="number" name="seatingCapacity" placeholder="seating" required>
        <input type="number" name="rentPerDay" placeholder="rent"  required>
        <button>Submit</button>
    </form>

    <div class="addedCarInfo">
        {{text}} <br>
        <h3>{{car}}</h3>
    </div>

</body>
</html>