<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task / {{title}}</title>
    
</head>
<body>
    {{>header}}
    Book cars here

    <div class="filters">
        <form id="filterForm" action="">
            Make: <input type="text" name="make" id="make" placeholder="make"> 
            Model: <input type="text" name="model" id="model" placeholder="model">
            Seating Capacity: <input type="text" name="seatingCapacity" id="seatingCapacity" placeholder="seatingCapacity">
            Rent Per Day limit: <input type="number" name="rentPerDay" id="maxRent" placeholder="max rent">
            <button>filter / search</button>
        </form>
    </div>

    <div class="carsList">
        <p id="cars"></p>
    </div>

   <div style="display: none;" id="bookingForm">
        <form id="bookingForm" action="/bookCar" method="POST">
        <p>Book Car</p>
            <input type="text" id="regNo" name="regNo" placeholder="regno" required readonly>
            <p>Your name: <input type="text" name="customerName" placeholder="your name" required></p>
            <p>Your Phone Number: <input type="text" name="customerPhNo" placeholder="phone number" minlength="10" maxlength="10" required></p>
            <p>Trip Start Date: <input type="date" name="issueDate" placeholder="issue date" required></p>
            <p>Trip End Date: <input type="date" name="returnDate" placeholder="return date"  required></p>
            <button>Submit</button>
        </form>
   </div>

</body>
<script src="/js/filter.js"></script>
<script src="/js/displayCars.js"></script>
</html>