<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task / {{title}}</title>
    
</head>
<body>
    {{>header}}
    Book cars here

    <div class="filters">
        <form id="filterForm" action="">
            <input type="text" name="make" id="make" placeholder="make"> 
            <input type="text" name="model" id="model" placeholder="model">
            <input type="text" name="seatingCapacity" id="seatingCapacity" placeholder="seatingCapacity">
            <input type="number" name="rentPerDay" id="maxRent" placeholder="max rent">
            <button>filter / search</button>
        </form>
    </div>

    <div class="carsList">
        <p id="cars"></p>
    </div>

   <div style="display: none;" id="bookingForm">
        <form id="bookingForm" action="/bookCar" method="POST">
            <input type="text" name="regNo" placeholder="regno" required>
            <input type="text" name="customerName" placeholder="your name" required>
            <input type="text" name="customerPhNo" placeholder="phone number" required>
            <input type="date" name="issueDate" placeholder="issue date" required>
            <input type="date" name="returnDate" placeholder="return date"  required>
            <button>Submit</button>
        </form>
   </div>

</body>
<script src="/filter.js"></script>
<script src="/displayCars.js"></script>
</html>