<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task / {{title}}</title>
    
</head>
<body>
    {{>header}}
    Update cars here / showing cars that have not been booked 

    <div class="search">
        <form id="searchCar" action="">
            <input type="text" name="make" id="make" placeholder="make"> 
            <input type="text" name="model" id="model" placeholder="model">
            <button>filter / search</button>
        </form>
    </div>

    <div class="carsList">
        <p id="cars"></p>
    </div>

   <div style="display: none;" id="updateFormDiv">
        <form id="updateForm" action="/update" method="POST">
        <p>Set New Values:</p>
            <input type="text" id="regNo" name="regNo" placeholder="regno" readonly>
            <input type="text" name="make" placeholder="make" >
            <input type="text" name="model" placeholder="model" minlength="10" maxlength="10" >
            <input type="number" name="seatingCapacity" placeholder="seating capacity" >
            <input type="number" name="rentPerDay" placeholder="rent per day"  >
            <button>Update</button>
        </form>
   </div>

</body>
<script src="/js/updateCar.js"></script>
</html>