<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task / {{title}}</title>
    
</head>
<body>
    {{>header}}
    Update cars here / showing cars that have not been booked 

    <div class="search">
        <form id="searchCar" action="">
            Make: <input type="text" name="make" id="make" placeholder="make"> 
            Model: <input type="text" name="model" id="model" placeholder="model">
            <button>filter / search</button>
        </form>
    </div>

    <div class="carsList">
        <p id="cars"></p>
    </div>

   <div style="display: none;" id="updateFormDiv">
        <form id="updateForm" action="/update" method="POST">
        <p>Set New Values:</p>
            <p>Registration Number: <input type="text" id="regNo" name="regNo" placeholder="regno" readonly></p>
            <p>Make: <input type="text" name="make" placeholder="make" ></p>
            <p>Model: <input type="text" name="model" placeholder="model" ></p>
            <p>Seating Capacity: <input type="number" name="seatingCapacity" placeholder="seating capacity" ></p>
            <p>Rent Per Day: <input type="number" name="rentPerDay" placeholder="rent per day"  ></p>
            <button>Update</button>
        </form>
   </div>

</body>
<script src="/js/updateCar.js"></script>
</html>